# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

#Electron package
speech-to-text-for-broadcast-win32-x64
studytool-win32-x64
windows-installer

#VS Code
.vscode
